// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show-container{
  margin: 50px;
}
.show-title-box{
  display: flex;
}
.show-body-box{
  display: flex;
}
.show-link-box{
  margin: 60px;
}

.show-container p{
  padding-top: 5px;
}

table{
  width: 100%;
}

tbody td{
  text-align: center;
}

.index-container{
  margin: 40px;
}

#error_explanation{
  position: relative;
  background-color: red;
  padding: 2px;
  width: 600px;
  height: 94px;
}

.errortitle{
  background-color: rgb(187, 24, 24);
  color: white;
  height: 25px;
  width: 600px;
}
.errorbody{
  position: absolute;
  top:25px;
  background-color: gray;
  color: black;
  height:70px;
  width: 600px;
}